<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Résultats</title>
</head>
<body>
    <h1>Résultats des fonctions</h1>
    <p>Somme : <%= somme %></p>
    <p>Soustraction : <%= soustraction %></p>
    <p><%= bonjour %></p>
</body>
</html>
